<div id="<%= dom_id news %>">
  <p>
    <strong>Title:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Link flg:</strong>
    <%= news.link_flg %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= news.url %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= news.overview %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= news.release_date %>
  </p>

  <p>
    <strong>Release flg:</strong>
    <%= news.release_flg %>
  </p>

</div>
