<p style="color: green"><%= notice %></p>

<%= render @first_category %>

<div>
  <%= link_to "Edit this first category", edit_admin_first_category_path(@first_category) %> |
  <%= link_to "Back to first categories", admin_first_categories_path %>

  <%= button_to "Destroy this first category", [:admin, @first_category], method: :delete %>
</div>
