<%= form_with(model: [:admin, second_category]) do |form| %>
<div class="card-header">
    <% if second_category.new_record? %>
    中カテゴリ登録
    <% else %>
    中カテゴリ編集
    <% end %>
    <%
=begin %>
    <% if second_category.errors.any? %>
    <div style="color: red">
        <h2><%= pluralize(second_category.errors.count, "error") %> prohibited this second_category from being saved:</h2>

        <ul>
            <% second_category.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        <%= second_category.errors.messages.inspect %>
    </div>
    <% end %>
    <%
=end %>
</div>
<div class="card-body">
    <div class="row g-3">

        <div class="col-md-12">
            <%= render 'shared/form_label', form: form, attribute: :first_category_id, label: "大カテゴリ名", required: true %>
            <%= form.collection_select :first_category_id, FirstCategory.order(:id), :id, :name, { prompt: "---" }, { class: "form-select#{' is-invalid' if form.object.errors[:first_category].any? || form.object.errors[:first_category_id].any?}" } %>
            <%= render 'shared/error_message', form: form, attribute: [ :first_category, :first_category_id ] %>
        </div>

        <div class="col-md-12">
            <%= render 'shared/form_label', form: form, attribute: :name, label: "中カテゴリ名", required: true %>
            <%= form.text_field :name, class: "shadow-sm form-control#{' is-invalid' if form.object.errors[:name].any?}" %>
            <%= render 'shared/error_message', form: form, attribute: :name %>
        </div>

    </div>
</div>

<div class="card-footer">
    <div class="row">
        <div class="col-12 text-center my-2">
            <%= form.submit "保存", class: "btn btn-primary w-50" %>
            <%= link_to "戻る", admin_root_path, class: "btn btn-secondary", role: "button" %>
        </div>
    </div>
</div>
<% end %>