<% content_for :title, "お問い合わせ" %>
<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">お問い合わせ</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= form_with model: @contact, url: confirm_contacts_path, local: true do |form| %>
        <div class="card-header">お問い合わせ</div>
        <div class="card-body">
            <div class="row g-3">
        
                <div class="col-md-12">
                    <%= render 'shared/form_label', form: form, attribute: :body, label: "お問い合わせ内容", required: true %>
                    <%= form.text_area :body, rows: 4, class: "shadow-sm form-control#{' is-invalid' if form.object.errors[:body].any?}" %>
                    <%= render 'shared/error_message', form: form, attribute: :body %>
                </div>
    
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 text-center my-2">
                    <%= form.submit "確認", class: "btn btn-primary w-50" %>
                    <%= link_to "戻る", root_path, class: "btn btn-secondary", role: "button" %>
                </div>
            </div>
        </div>
    <% end %>
</div>