<div id="<%= dom_id medium %>">
  <p>
    <strong>Media flg:</strong>
    <%= medium.media_flg %>
  </p>

  <p>
    <strong>Alt:</strong>
    <%= medium.alt %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= medium.url %>
  </p>

  <p>
    <strong>Release flg:</strong>
    <%= medium.release_flg %>
  </p>

</div>
