<% content_for :title, "メディア一覧" %>

<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", admin_root_path %></li>
        <li class="breadcrumb-item active" aria-current="page">メディア一覧</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= render "index_form" %>
</div>

<div class="card shadow mb-4">
    <div class="card-header text-end">
        <%= render 'kaminari/bootstrap-5/number', collection: @media %>
    </div>
    <div class="card-body">
        <div class="row">
        <% @media.each do |medium| %>
            <%= render "index_medium", medium: medium %>
        <% end %>
        </div>
    </div>
    <div class="card-footer">
        <%= paginate @media, theme: "bootstrap-5" %>
    </div>
</div>
