<tr>
    <td scope="rol">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= product.id %>" name="product_ids[]" id="product_ids_<%= product.id %>">
        </div>
    </td>
    <td>
        <%= product.first_category.name %>
    </td>
    <td>
        <%= product.second_category.name %>
    </td>
    <td>
        <%= link_to product.name, [:admin, product] %>
    </td>
    <td>
        <%= ProductConstants::RELEASE_FLG_LIST[product.release_flg] %>
    </td>
</tr>