<div id="<%= dom_id product %>">
  <p>
    <strong>First category:</strong>
    <%= product.first_category_id %>
  </p>

  <p>
    <strong>Second category:</strong>
    <%= product.second_category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= product.detail %>
  </p>

  <p>
    <strong>Release flg:</strong>
    <%= product.release_flg %>
  </p>

</div>
